*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    padding: 0 100px;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


/* start header */
.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header{
    background-color:#F5F5F5 ;
    padding: 20px 0;
    position: fixed;
    width: 100%;

}

.header ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header a {
    color: #0D0E43;
}

body{
    height: 6000px;
}
.search-input{
    border: 0;
    
}

.search button{
    border: 0;
    background-color: #FB2E86;
    padding: 3px;
}

.header form {
    border: 3px solid #E7E6EF;
    display: flex;
}

.header .list a:hover{
    color: #FB2E86;
}

.bar{
    display: none;
}

@media screen and (min-width:0) and (max-width:950px) {
    .header .search,
    .header .list
    {display: none;
    }
    .bar{
        display: block;
    }    
}



/* end header */




/* lorem */
.lorem {
    height: 200px;
}
/* lorem*/



/* start hero */

.hero{
    background-image: url(./../png/hero.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.hero .hero-text{
    color: #151875;
    width: 380px;
    text-align: center;
}
.hero button{
    padding: 20px 30px;
    background-color: #FB2E86;
    border: 0;
}

.hero .hero-shop a{
    color: #ffffff;
}

/* end hero */




/* start footer */

.footer {
    background-color: #EEEFFB;
    padding: 50px 0;
}

.footer .left{
    width: calc( (100% - 20px) / 2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
}

.footer .right{
    width: calc( (100% - 20px) / 2);

}

.footer .left form {
    border:#E7E6EF;
    display: flex;
    
}

.footer .email button{
    border: 0;
    background-color: #FB2E86;
    padding: 10px 15px;
    color: #EEEFFB;
}

.email-input{
    border: 0;
    padding: 10px 15px;
}

.conntact-info{
    color: #8A8FB9;
}


.footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .right a{
    color: #8A8FB9;
}

.footer .footer-list h2{
    margin-bottom: 40px;
}

.footer .row{
    align-items: start;
}


@media screen and (min-width:0) and (max-width:950px) {
    .footer .container .right , .footer .container .left{
        width: 100%;
    }   

}


/* end footer */
