*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    padding: 0 100px;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


/* start header */
.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header{
    background-color:#F5F5F5 ;
    padding: 20px 0;
    position: sticky;
    width: 100%;

}

.header ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header a {
    color: #0D0E43;
}

body{
    height: 6000px;
}
.search-input{
    border: 0;
    
}

.search button{
    border: 0;
    background-color: #FB2E86;
    padding: 3px;
}

.header form {
    border: 3px solid #E7E6EF;
    display: flex;
}

.header .list a:hover{
    color: #FB2E86;
}

.bar{
    display: none;
}

@media screen and (min-width:0) and (max-width:950px) {
    .header .search,
    .header .list
    {display: none;
    }
    .bar{
        display: block;
    }    
}



/* end header */



/* start tophero section */

.tophero{
    background-color: #F2F0FF;
    padding: 50px;
}

.tophero .row{
    gap: 50px;

}

.tophero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tophero .tophero-width{
    width: calc( ( 100% - 50px ) / 2);
    
}

.tophero .tophero-p1{
    color: #FB2E86;
}

.tophero .tophero-p2{
    color: #8A8FB9;
}

.tophero button{
    padding: 20px 30px;
    background-color: #FB2E86;
    border: 0;
}

.tophero a{
    color: #ffffff;
}

.tophero-img{
   
}

.tophero-img img{
    display: flex;
    width: 400px;
   
}


@media screen and (max-width: 1000px) {
    .tophero .tophero-width {
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
    }
    .tophero-img{
        display: flex;
        justify-content: center;
    }
}


/* end tophero section */


/* start featured section */


.featured-products{
    padding: 30px;
}

.featured-products h2{
    text-align: center;
    color: #1A0B5B;
    padding: 20px;
}

.product{
    
    box-shadow: 0 4px 4px 0 #000000;
    height:330px ;
    width: calc((100% - 60px) / 4);
    position: relative
}

.product-img{
    display: flex;
    justify-content: center;
    background-color: #F6F7FB;
    padding:30px ;
    height:70%;
}

.product-img-hover{
    gap: 10px;
    position:absolute;
    left: 15px;
    top: 15px;
    opacity: 0;
}

.hover-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.product-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;

}

.featured-products .product:hover{
    background-color: #2F1AC4;
}

.product:hover .product-img-hover{
    opacity: 1;
}

.product:hover .product-img{
    background-color: #ffffff;
}

.product-img-hover img:hover{
    padding: 7px;
    background-color: #EEEFFB;
    
}

.featured-products .product-info p:hover{
    color: #FFEAC1;
}

.product-info h3{
    color: #FB2E86;
    text-align: center;
}

.product-info p{
    text-align: center;
    color: #151875;
}

.product-info span{
    text-align: center;
    color: #151875;
}

.product-color{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.color{

    background-color: #FB2E86;
    border: 0;
    outline: 0;
    width: 20px;
    height: 7px;
    border-radius: 5px;
}

.color1{
    background-color: #05E6B7;
}

.color2{
    background-color: #F701A8;
}

.color3{
    background-color: #00009C;
}

@media screen and (max-width: 1250px) {
    .product {
        width: calc((100% - 60px) / 2);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 850px) {
    .product {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* start hero */

.hero{
    background-image: url(./../png/hero.png);
    height: 50vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.hero .hero-text{
    color: #151875;
    width: 380px;
    text-align: center;
}
.hero button{
    padding: 20px 30px;
    background-color: #FB2E86;
    border: 0;
}

.hero .hero-shop a{
    color: #ffffff;
}

/* end hero */




/* start footer */

.footer {
    background-color: #EEEFFB;
    padding: 50px 0;
}

.footer .left{
    width: calc( (100% - 20px) / 2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
}

.footer .right{
    width: calc( (100% - 20px) / 2);

}

.footer .left form {
    border:#E7E6EF;
    display: flex;
    
}

.footer .email button{
    border: 0;
    background-color: #FB2E86;
    padding: 10px 15px;
    color: #EEEFFB;
}

.email-input{
    border: 0;
    padding: 10px 15px;
}

.conntact-info{
    color: #8A8FB9;
}


.footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .right a{
    color: #8A8FB9;
}

.footer .footer-list h2{
    margin-bottom: 40px;
}

.footer .row{
    align-items: start;
}


@media screen and (min-width:0) and (max-width:950px) {
    .footer .container .right , .footer .container .left{
        width: 100%;
    }   

}


/* end footer */
