*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    padding: 0 100px;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


/* start header */
.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header{
    background-color:#F5F5F5 ;
    padding: 20px 0;
    position: sticky;
    width: 100%;

}

.header ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header a {
    color: #0D0E43;
}

body{
    height: 6000px;
}
.search-input{
    border: 0;
    
}

.search button{
    border: 0;
    background-color: #FB2E86;
    padding: 3px;
}

.header form {
    border: 3px solid #E7E6EF;
    display: flex;
}

.header .list a:hover{
    color: #FB2E86;
}

.bar{
    display: none;
}

@media screen and (min-width:0) and (max-width:950px) {
    .header .search,
    .header .list
    {display: none;
    }
    .bar{
        display: block;
    }    
}



/* end header */



/* start tophero section */

.tophero{
    background-color: #F2F0FF;
    padding: 50px;
}

.tophero .row{
    gap: 50px;

}

.tophero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tophero .tophero-width{
    width: calc( ( 100% - 50px ) / 2);
    
}

.tophero .tophero-p1{
    color: #FB2E86;
}

.tophero .tophero-p2{
    color: #8A8FB9;
}

.tophero button{
    padding: 20px 30px;
    background-color: #FB2E86;
    border: 0;
}

.tophero a{
    color: #ffffff;
}

.tophero-img{
   
}

.tophero-img img{
    display: flex;
    width: 400px;
   
}


@media screen and (max-width: 1000px) {
    .tophero .tophero-width {
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
    }
    .tophero-img{
        display: flex;
        justify-content: center;
    }
}


/* end tophero section */


/* start featured section */


.featured-products{
    padding: 50px;
}

.featured-products h2{
    text-align: center;
    color: #1A0B5B;
    padding: 20px;
    font-family: Josefin Sans;
}

.featured-products .product{
    
    box-shadow: 4px 4px 4px 4px #f7f6f6;
    height:330px ;
    width: calc((100% - 60px) / 4);
    position: relative
}

.product-img{
    display: flex;
    justify-content: center;
    background-color: #F6F7FB;
    padding:30px ;
    height:70%;
}

.product-img-hover{
    gap: 10px;
    position:absolute;
    left: 15px;
    top: 15px;
    opacity: 0;
}

.featured-products .hover-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.product-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;

}

.featured-products .product:hover{
    background-color: #2F1AC4;
}

.product:hover .product-img-hover{
    opacity: 1;
}

.featured-products .product:hover .product-img{
    background-color: #ffffff;
}

.product-img-hover img:hover{
    padding: 7px;
    background-color: #EEEFFB;
    
}

.featured-products .product-info p:hover{
    color: #FFEAC1;
}

.product-info h3{
    color: #FB2E86;
    text-align: center;
}

.product-info p{
    text-align: center;
    color: #151875;
}

.product-info span{
    text-align: center;
    color: #151875;
}

.product-color{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.color{

    background-color: #FB2E86;
    border: 0;
    outline: 0;
    width: 20px;
    height: 7px;
    border-radius: 5px;
}

.color1{
    background-color: #05E6B7;
}

.color2{
    background-color: #F701A8;
}

.color3{
    background-color: #00009C;
}

@media screen and (max-width: 1250px) {
   .featured-products .product {
        width: calc((100% - 60px) / 2);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 850px) {
    .featured-products .product {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* end featuerd section */


/* start leatest section */


.leatest-products{
    padding: 50px;
}

.leatest-products h2{
    text-align: center;
    color: #1A0B5B;
    padding: 20px;
    font-family: Josefin Sans;
}

.leatest-products .product{
    width: calc( (100% - 60px) /3 );
    height: 350px;
    padding: 20px;
    position: relative
}

.leatest-products .list{
    display: flex;
    justify-content: center;
}

.leatest-products ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.leatest-products a{
    color: #151875;
    font-family: Lato;
}

.leatest-products a:hover{
    color: #FB2E86;
    text-decoration: underline;
}

.leatest-products .l-products{
    padding: 30px;
}

.leatest-products .product-inf{
    color: #151875;
    font-family: Josefin Sans;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction:column ;
    gap: 10px;
    padding: 5px;
}

.leatest-products .product p{
    color: #151875;
    font-family: Josefin Sans;
}

.leatest-products .product-inf span{
    color: #151875;
}

.leatest-products .product-inf .l-offer{
    color: #FB2448;
    text-decoration: line-through;
}

.leatest-products .l-product-img-hover{
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    left: 40px;
    top: 70px;
    gap: 20px;
}

 .leatest-products .product:hover .product-img{
    background-color: #ffffff;
}

.leatest-products .l-product-img-hover .hover-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.leatest-products .product:hover .l-product-img-hover{
    opacity: 1;
}

.leatest-products .l-product-img-hover img:hover{
    background-color: #EEEFFB;
}


@media screen and (max-width: 1250px) {
   .leatest-products .product {
        width: calc((100% - 60px) / 2);
    }
}

@media screen and (max-width: 850px) {
    .leatest-products .product {
        width: 100%;
    }
}

/* end leatest section */


/* start offer section */

.offer{
    padding: 50px;
}

.offer h2{
    color: #151875;
    font-family: Josefin Sans;
    text-align: center;
    padding: 20px;
}

.offer .offer-products .product{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 4px 4px 4px 4px #f7f6f6;
    width: calc((100% - 60px) / 4);
    height: 280px;
    padding: 40px;
    gap: 20px;

}

.offer .offer-products h3{
    color: #151875;
    font-family: Josefin Sans;
}

.offer p{
    color: #8A8FB9;
    font-size: small;
}

@media screen and (max-width: 1250px) {
   .offer .offer-products .product {
        width: calc((100% - 60px) / 2);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 850px) {
    .offer .offer-products .product {
        width: 100%;
        margin-bottom: 20px;
    }
}


/* end offer section */


/* start trending section */


.trending{
    padding: 50px;
}

.trending h2{
    color: #151875;
    font-family: Josefin Sans;
    text-align: center;
    padding: 20px;
}

.trending .trending-products .product{
    width: calc( (100% - 60px) /4 );
    height: 350px;
    padding: 20px;
    box-shadow: 4px 4px 4px 4px #f7f6f6;
}

.trending .trending-img{
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
    justify-content:center;
    padding: 10px;
    background-color: #F5F6F8;
    height: 80%
}


.trending .trending-img img{
    height: 80%;
    
}


.trending .trending-info{
    color: #151875;
    font-family: Josefin Sans;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction:column ;
    gap: 10px;
}

.trending .trending-info .t-offer{
    color: #a3a4a7;
    text-decoration: line-through;
}



@media screen and (max-width: 1250px) {
   .trending .trending-products .product {
        width: calc((100% - 60px) / 2);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 850px) {
    .trending .trending-products .product {
        width: 100%;
        margin-bottom: 20px;
    }
}


/* end trending  section */





/* start categories section */


.categories{
    padding: 50px;
}

.categories h2{
    color: #151875;
    font-family: Josefin Sans;
    text-align: center;
    padding: 20px;
}

.categories .categories-products .product{
    width: calc( (100% - 60px) /4 );
    height: 350px;
    padding: 20px;
}

.categories .categories-info{
    color: #151875;
    font-family: Josefin Sans;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction:column ;
    gap: 10px;
}


.categories .categories-img{
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
    justify-content:center;
    padding: 10px;
    background-color: #F5F6F8;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


.categories .categories-img img{
    height:80% ;
    width: 80%;
    
}


.categories .categories-products .product:hover .categories-img{
    box-shadow:  -12px 4px 0 0 #9574e5, 0 0 40px rgba(255, 255, 255, 0.5);
}


@media screen and (max-width: 1250px) {
   .categories .categories-products .product {
        width: calc((100% - 60px) / 2);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 850px) {
    .categories .categories-products .product {
        width: 100%;
        margin-bottom: 20px;
    }
}


/* end categories section */






/* start hero */


.hero{
    background-image: url(./../png/hero.png);
    height: 50vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.hero .hero-text{
    color: #151875;
    width: 380px;
    text-align: center;
}
.hero button{
    padding: 20px 30px;
    background-color: #FB2E86;
    border: 0;
}

.hero .hero-shop a{
    color: #ffffff;
}

@media screen and (max-width: 850px) {
    .hero {
        font-size: x-small;
    }

   
}

/* end hero */




/* start footer */

.footer {
    background-color: #EEEFFB;
    padding: 50px 0;
}

.footer .left{
    width: calc( (100% - 20px) / 2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
}

.footer .right{
    width: calc( (100% - 20px) / 2);
}


.footer .left form {
    border:#E7E6EF;
    display: flex;
    
}

.footer .email button{
    border: 0;
    background-color: #FB2E86;
    padding: 10px 15px;
    color: #EEEFFB;
}

.email-input{
    border: 0;
    padding: 10px 15px;
}

.conntact-info{
    color: #8A8FB9;
}


.footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .right a{
    color: #8A8FB9;
    font-size: small;
}

.footer .footer-list h2{
    margin-bottom: 40px;
}

.footer .row{
    align-items: start;
}


@media screen and (min-width:0) and (max-width:950px) {
    .footer .container .right , .footer .container .left{
        width: 100%;
    }   

}


/* end footer */

